extends layout

block content
  h1= title
  h2 API Documentation
  a(href="https://madd.mybluemix.net/api-docs" target="_blank") https://madd.mybluemix.net/api-docs

  h2 Source Code
  a(href="https://github.com/hurdleg/madd-rest-server" target="_blank") https://github.com/hurdleg/madd-rest-server
  