extends layout

block content
  h1= title
  h2 REST Resources
  h4 Bluemix
  ul
    li: a(href="https://madd.mybluemix.net/courses" target="_blank") https://madd.mybluemix.net/courses
    li: a(href="https://madd.mybluemix.net/courses/{id}" target="_blank") https://madd.mybluemix.net/courses/{id}

  h2 Documentation
  a(href="https://github.com/hurdleg/madd-rest-server" target="_blank") https://github.com/hurdleg/madd-rest-server
  